# Python
__pycache__/
*.py[cod]
*.pyo
*.egg-info/
dist/
build/
*.egg

# Django
db.sqlite3
media/
staticfiles/
*.log

# Environment
.env
venv/
env/

# IDE
.vscode/
.idea/
*.swp
*.swo

# OS
Thumbs.db
Desktop.ini
.DS_Store

# Celery
celerybeat-schedule.*

# Temp/test files
*.txt
!requirements.txt
